* {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	margin:0px;
	padding:0px;

}

body {
	background-color:rgb(93,93,93);
}

html, body {
	height: 100%;
	overflow: hidden;
}

#superContainer {
	position:absolute;
	width:1000px;
	height:500px;
	top:50%;
	left:50%;
	margin-left:-500px;
	margin-top:-250px;

	-moz-box-shadow: 0px 5px 25px #000;
	-webkit-box-shadow: 0px 5px 25px #000;
	box-shadow: 0px 5px 25px #000;
}

#codeContainer {
	position:absolute;
	width:500px;
	left:500px;
	top:0px;
	height:500px;
	overflow:hidden;
	background-color:white;
}

#displayContainer {
	position:absolute;
	left:0px;
	width:500px;
	height:500px;
	top:0px;
	border:none;
	overflow:hidden;
}

.CodeMirror-scroll {
	height: 500px; 
	width: 500px;
	overflow: auto;
}

.errorLine {
	background:#fdd !important;
}

.highlightLine {
	background:#fdd !important;
}

.errorMarker {
	background-image:url("../images/error.png") !important;
	background-repeat:no-repeat !important;
	background-position:center center !important;
}

#errorReport {
	position:absolute;
	width:490px;
	height:auto;
	min-height:30px !important;
	top:0px;
	left:50%;
	border:1px solid #ccc;
	background-color:white;
	z-index:11;

	-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.7);
	box-shadow: 0px 2px 5px rgba(0,0,0,0.7);

	-moz-border-radius: 3px;
	border-radius: 3px;

	padding-left:7px;

	color:#111;
	line-height:30px;

	font-family:Courier, "Courier New";
	font-size:12px;
	font-weight:bold;

	opacity: 1;
	-webkit-transition: opacity 0.5s linear;
}

.hideReport {
	opacity:0 !important;
}

a {
	color: #222;
	text-decoration: none;
}

a:hover {
	color: #000;
}

.links {
	position:absolute; width:500px;
	text-align:center;
	left:50%;
	margin-left:-250px;	
	margin-top:270px;		
	top:50%;
}

.links a {
	margin-right:40px;
}

.button {
	 background-color:#eee; 
	text-align:center; 
	line-height:30px; color:#222; 
	cursor:pointer; 
	border-radius: 5px;
	 border:1px solid #888; 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0D0D0), to(#A8A8A8)); 
	text-shadow: #eee 0px 1px 0px;
	width:100px;
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.4);	
}

/* Common */
* {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	margin:0px;
	padding:0px;
	outline: none;
}

#TouchCodeMainCanvas {
	background-color:white;
}

#TouchCodeHiddenCanvas {
	display:none;
}

#sourceHolder{
	display:none;
}